<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidchatapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icn_launcher"
        android:label="SafeSend"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Users" />
        <activity android:name=".Chat" />
        <activity
            android:name=".AdminPage"
            android:exported="true"
            android:label="Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserSettings"></activity>
        <activity android:name=".AboutDetails" />
        <activity android:name=".popUpPass"
            android:theme="@style/AppTheme.CustomTheme">

        </activity>
    </application>

</manifest>